@media screen and (min-width: 100px) {
    header {
        font-size: 20pt;
        color: black;
        text-align: center;
    }

    body {
        background-image: url(img/Bg.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    img {
        height: 70%;
        width: 70%;
    }

    section {
        margin: 20px 0px;
        padding: 30px 20px 30px 20px;
        border: 2px solid #FF9999;
        border-radius: 20px;
        box-shadow: 3px 3px 0px 5px #FF6699;
    }

    table {
        margin-bottom: 10px;
        border-spacing: 0;
        table-layout: center;
    }

    td {
        text-align: left;
    }

    th {
        text-align: left;
        font-size: 12pt;
    }
}

@media screen and (min-width: 360px) {

    header {
        font-size: 20pt;
        color: black;
        text-align: center;
    }

    body {
        background-image: url(img/Bg.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    img {
        height: 70%;
        width: 70%;
    }

    section {
        margin: 20px 0px;
        padding: 30px 20px 30px 20px;
        border: 2px solid #FF9999;
        border-radius: 20px;
        box-shadow: 3px 3px 0px 5px #FF6699;
    }

    table {
        margin-bottom: 10px;
        border-spacing: 0;
        table-layout: center;
    }

    td {
        text-align: left;
    }

    th {
        text-align: left;
        font-size: 12pt;
    }
}


@media screen and (min-width: 950px) {

    header {
        font-size: 20pt;
        color: black;
        text-align: center;
    }

    body {
        background-image: url(img/Bg.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    img {
        height: 40%;
        width: 40%;
    }

    section {
        margin: 60px 200px;
        padding: px 400px;
        border: 2px solid #FF9999;
        border-radius: 20px;
        box-shadow: 3px 3px 0px 5px #FF6699;
    }

    table {
        margin-bottom: 10px;
        border-spacing: 0;
        table-layout: center;
    }

    td {
        text-align: left;
    }

    th {
        text-align: left;
        font-size: 12pt;
    }
}
