* {box-sizing: border-box}
/*ตั้งค่าในส่วนของ body*/
body {
	font-family: "Lato", sans-serif;
	
}

a:link{
	text-decoration: none;
}

/* Style the tab */
div.tab {
    float: left;
    border: 1px solid #F8F8FF;
    background-color: #A4C8F0;
    width: 28%;  
	margin-right: 2px;
	height: 100%;
}

/* Style the buttons inside the tab */
div.tab button {
    display: block;
	background-color: #A4C8F0;
    color: black;
    padding: 20px 20px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    font-size: 17px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #F8F8FF;
}

/* Create an active/current "tab button" class */
div.tab button.active {
    background-color: #F8F8FF;
}

/* Style the tab content */
.tabcontent {
    float: left;
    width: 70%;
    border-left: none;
}
img.mySlides{
	margin: auto;
	display: block;
	margin-bottom: 30px;
}
table{
	margin: auto;
	margin-top: 20px;
}
th,td{

	padding: 4px;
	text-align: left;
}
p{

	margin: auto;
	width: 80%;
}
h3{
	margin-left: 35px;
	font-size: 35px;
}
/*อุปกรณ์ที่มี width น้อยกว่าหรือเท่ากับ 600px ให้ font-size มีขนาดเล็กลง*/
@media only screen and (max-width: 600px) {
    div.tab button {font-size: 15px; }
	.menu{font-size: 13px;}
	.tabcontent {height: 100%;}
    h3{font-size: 18px;}
    p{font-size: 14px;}
    td,th{font-size: 15px;}
	
}
